<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.commands">
		<command
            defaultHandler="de.kreth.eclipse.propertytojavaplugin.handlers.GeneratePropertyClassHandler"
            id="PropertyToJavaPlugin.command1"
            name="Generate Java for Properties">
		</command>
	</extension>
	<extension
         point="org.eclipse.ui.menus">
		<menuContribution
            locationURI="popup:org.eclipse.jdt.ui.source.menu?after=generateGroup">
			<command 
               commandId="PropertyToJavaPlugin.command1"
               id="PropertyToJavaPlugin.jdt.menu.item"
	           label="Generate Java for Properties"
	           icon="icons/GeneratorIcon.png"
	           tooltip="Generate Jave Code for all Keys"
               >
				<visibleWhen
					checkEnabled="false">
					<with variable="activeMenuSelection">
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IResource">
								<test property="org.eclipse.core.resources.extension" value="properties" />
							</adapt>
						</iterate>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>

</plugin>
